* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
header{
    display: flex;
    position: fixed;
    z-index: +2;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    width: 100%;
}
h2.logo{
    cursor: pointer;
    color: rgb(230, 20, 184);
    font-size: 30px;
    margin-right: auto;
    padding-left: 332px;
}
li,a{
    font-family:"montserrat",sans-serif;
    font-weight:bold;
    font-size: 16px;
    color: rgb(19, 19, 18);
    text-decoration: none;
    
}
.nav_link{
    list-style: none;
    
}
.nav_link li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 15px;
    
    
}
.nav_link li a{
    transition: all 0.3s ease 0s;
    
}
.nav_link li a:hover{
    color:#ca1ddafa;
    cursor: pointer;
}
.intro {
    position: absolute;
    top: 300px;
    z-index: +1;
    color: white;
    left: 487px;
    width: 30%;
    

}

.intro h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    overflow: hidden;
}

.intro p {
    top: 20px;
    position: relative;
    word-spacing: 2px;
    font-size:15px ;
}
.learn-more {
    margin-top: 10px;
    position: absolute;
    top: 500px;
    left: 487px;
    z-index: +1;
    
}

.learn-more button {
    margin: 5px 0px; 
    padding: 15px;
    background-color: rgb(70, 20, 78);
    color: white;
    border: 2px solid rgb(70, 20, 78);
    border-radius: 5px;
}

.learn-more button:hover {
    background-color: rgb(223, 223, 41);
    color: black;
    border: 2px solid rgb(230, 230, 46);
    border-radius: 2px;
    cursor: pointer;
}
.background{
    background-image: url(image/137-1379099_orange-desktop-background.jpg);
    background-size:cover;
    width: 100%;
    height: 900px;
    animation: slider 10s infinite linear;
    
}
@keyframes slider{
    0%{ background-image: url(image/137-1379099_orange-desktop-background.jpg);}
    35%{ background-image: url(image/firewatch-sd-3840x2160.jpg);}
    75%{background-image: url(image/lfndtoirttvx.jpg); }
}

.welcome {
    display: flex;
    flex-direction: column;

}

.welcome h1 {
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.welcome p {
    font-size: large;
    width: 16%;
    position: relative;
    top: 40px;
    left: 460px;
}

.welcome img {
    display: flex;
    width: 300px;
    height: 235px;
    position: relative;
    top: -142px;
    left: 870px;
    align-items: center;
}
.about {
    display: flex;
    margin-top: 0px;
    margin-left: 350px;
    margin-right: 350px;
    border-bottom: 2px solid rgb(128, 123, 123);
    margin-bottom: 50px;  
}

.card {
    width: 100%;
    align-items: center;
    margin: auto 82px;
    padding: 20px 20px;
    

}

#cardid-1 {
    text-align: center;
}

#cardid-2 {
    text-align: center;
}

#cardid-3 {
    text-align: center;
}

.about img {
  
    width: 70px;
    height: 70px;
}

.card h3 {
    color: purple;
}

.card p {
    color: grey;
   font-size:15px;
}

.card button {
    padding: 3px;
    background-color: rgb(70, 20, 78);
    color: white;
    border: 2px solid rgb(70, 20, 78);
    border-radius: 5px;
}

.card button:hover {
    background-color: rgb(251, 251, 97);
    color: black;
    border: 2px solid rgb(251, 251, 97);
    border-radius: 2px;
    cursor: pointer;
}
.projects {
    display: flex;
}
.proj {
    background-color: lightgray;
    
}

.proj h3 {
    padding: 20px 20px;
}
.proj p {
    padding: 20px;
    color: rgb(48, 45, 45);
}

.proj button {
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    color: white;
    background-color: rgb(70, 20, 78);
    border: 2px solid rgb(70, 20, 78);;
    border-radius: 5px;
}

.proj img {
    width: 379px;
    height: 500px;
}.project:hover{
    background-color: rgb(175, 196, 79);
}

.proj button:hover {
    background-color: rgb(251, 251, 97);
    color: black;
    border: 2px solid rgb(251, 251, 97);
    cursor: pointer;
}

.heading {
    width: 100%;
    margin: auto;
    padding: 33px 10px;
}

.heading h1 {
    text-align: center;
    margin-bottom: 35px;
}

#projid-2 {
    background-color: rgb(200, 200, 200);
}

#projid-4 {
    background-color: rgb(200, 200, 200);
}

.price-table {
    width: 100%;
    margin: auto;
    padding: 33px 10px;
}

.price-table h1 {
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

.plan h4 {
    color: grey;
    padding: 15px;
}

.plan p {
    padding: 7px;
}

.plan button {
    padding: 10px;
    margin: 10px;
    background-color: rgb(251, 251, 97);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

.plan button:hover {
    background-color: rgb(70 20 78);
    color: white;
}

#standard {
    border-right: 2px solid lightgrey;
    padding-right: 15px;
}

#premium {
    border-left: 2px solid lightgrey;
    padding-left: 15px;
}
.videocontainer h1 {
    text-align: center;
    color: white;
}
.videocontainer{
    width: 100%;
    padding: 30px;
    padding-left: 34px;
    background-color: rgb(147, 40, 163);
}
.teamcontainer {
    padding-top: 33px;
    padding-bottom: 40px;
}

.teamcontainer h1 {
    text-align: center;
}
.member{
    display: flex;
    position: absolute;
    margin-top: 350px;
}

.members {
    display: flex;
    position: absolute;
    width: 43%;
    margin: auto;
    margin-top: 50px;
    left: 380px;
}

.members img {
    margin: 30px 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.members p {
    text-align: center;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.role {
    color: grey;
    margin-bottom: 20px;
}

#mem-1 {
    position: relative;
}

#mem-2 {
    position: relative;
}

#mem-3 {
    position: relative;
}

#mem-4 {
    position: relative;
}

#mem-5 {
    position: relative;
}

#mem-6 {
    position: relative;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 51%;
    left: 50%;
    width: 200px;
    height: 200px;  
    border-radius: 50%;
    transform: translate(-50%, -67%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle:hover {
    opacity: 1;
    color: rgba(255, 255, 255);
    background-color: rgba(70, 20, 78, 0.5);
    cursor: pointer;
}


.social img {
    width: 185px;
    height: 100px;
    opacity: 2;
}
#life{
    background-color: #ffe4e1;
}
.main-life .life{
    max-width: 85rem;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 45%;
    height: 100vh;
}
.main-life .life h1{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
.main-life .life .img-life{
    margin: 1.5rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 80%;
    height: 60%;
}
.main-life .life .img-life input{
    display: none;
}
.main-life .life .img-life img{
    height: 100%;
    width: 100%;
}

.main-life .life .small-img-life{
    margin: 1.5rem 20rem;
    height: 15vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 2px solid black;
}
.main-life .life .small-img-life label{
    width: 20%;
}
.main-life .life .small-img-life label img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#img1:checked ~ .s-img1{
    margin-left: 0%;
}
#img2:checked ~ .s-img2{
    margin-left: -100%;
}
#img3:checked ~ .s-img3{
    margin-left: -200%;
}
#img4:checked ~ .s-img4{
    margin-left: -300%;
}
#img5:checked ~ .s-img5{
    margin-left: -400%;
}
.signup {
    padding: 150px;
    background-color: rgb(177, 54, 38);
    background-repeat: no-repeat;
    background-size: cover;
}

.signupcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.signup h1 {
    text-align: center;
    font-weight:600;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.signup input {

    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border: 2px solid white;
    
}
.signup input:hover {
    background-color: rgb(251, 251, 97);
    color: rgb(41, 38, 38);
    border: 2px solid rgb(251, 251, 97);
    border-radius: 3px;
    cursor: pointer;
    border-color: thistle;
    
}

.signup button {
    background-color: rgb(70, 20, 78);
    color: white;
    height: 40px;
    width: 100px;
    border: 2px solid rgb(70, 20, 78);
    
}

.signup button:hover {
    background-color: rgb(251, 251, 97);
    color: rgb(170, 77, 77);
    border: 2px solid rgb(251, 251, 97);
    border-radius: 3px;
    cursor: pointer;
}
.blogcontainer {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.blogcard img {
    width: 80%;
    height: 60%;
}
.blogheading {
    text-align: center;
    margin: 50px;
    padding-top: 33px;
    font-weight: bold;
}
.blogcard {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blogcard h3 {
    padding: 10px 40px;
    font-weight: bold;

}

.date {
    padding: 10px 40px;
    color: rgb(97, 90, 90);
}

.bloginfo {
    padding: 10px 40px;
}

.blogcard button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(139, 8, 69);
    color: white;
    border: 2px solid rgb(139, 8, 69);
    font-weight: 550;
    border-radius: 3px;

}

.blogcard button:hover {
    background-color: rgb(251, 251, 97);
    border: 2px solid rgb(251, 251, 97);
    color: black;
    cursor: pointer;
}
.Contact {
    display: flex;
    height: 80vh;
    margin-bottom: 100px;
}
.contact_heading{
    text-align: center;
    margin-bottom: 33px;
    padding-top: 33px;
    padding-bottom: 40px;
}

.form {
    background-color: rgb(216, 178, 52);
    width: 100%;
    padding: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.form h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
 .map iframe{
    width:105vh;
    height: 80vh;
    padding-left: 10px; 
}

.form label {
    font-weight: 550;
}

.form textarea {
    border: 2px solid white;
    border-radius: 3px;

}

.form input {
    border: 2px solid white;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 36%;
}

.form button {
    color: white;
    width: 36%;
    margin-top: 20px;
    background-color: rgb(70, 20, 78);
    border: 2px solid rgb(70, 20, 78);
    border-radius: 3px;
    padding: 10px 30px;
}

.form button:hover {
    background-color: rgb(212, 30, 30);
    color: black;
    border: 2px solid rgb(212, 30, 30);
    cursor: pointer;
}
.end {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.endcards {
    width: 20%;
    text-align: center;
    padding: 10px 100px;
}

.endcards p {
    margin-bottom: 10px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.logos img {
    padding: 5px 3px;
    width: 50px;
    height: 40px;
    
}

.logos:hover {
    cursor: pointer;
}



